@font-face {
  font-family: "Inter Semibold";
  src: url("./fonts/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "Inter Medium";
  src: url("./fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter Regular";
  src: url("./fonts/Inter-Regular.ttf");
}

*,
::before,
::after {
box-sizing: border-box;
}

body {
  min-width: 320px;
  padding: 0;
  margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.sidebar {
  display: flex;
  justify-content: start;
  min-width: 440px;
  position: relative;
}

/* Переключатель */
.switch {
  position: fixed;
  top: 0;
  right: 0;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #18181B;
}

input:focus + .slider {
  box-shadow: 0 0 1px #18181B;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}
/* Конец стилей переключателя */

.sidebar-small {
  width: 98px;
}

.sidebar--closed {
  display: none;
}

.sidebar--dark {
  background-color: #18181B;
}

.sidebar-small__header {
  background-color: #F9FAFB;
  margin-bottom: 32px;
  padding: 28px 36px;
}

.sidebar-small__toggle,
.sidebar-big__toggle {
  width: 26px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  position: relative;
}

.sidebar-small__toggle::before,
.sidebar-big__toggle::before {
  position: absolute;
  content: '';
  left: 4px;
  top: 4px;
  width: 18px;
  height: 1.5px;
  background-color: #71717A;
  box-shadow: 0 8px 0 0 #71717A, 0 16px 0 0 #71717A;
}

.sidebar-small__wrapper {
  padding-left: 31px;
  padding-right: 31px;
}

.sidebar-small__search-btn {
  height: 36px;
  width: 36px;
  border: 1px solid #D1D5DB;
  margin-bottom: 16px;
  box-shadow: 0px 1px 2px 0px #00000012;
  background: url('./images/search.svg') no-repeat center;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
}

.sidebar-small__search-btn--dark {
  border-color: #3F3F46;
}

.sidebar-small__list {
  padding-bottom: 32px;
  border-bottom: 1px solid #E5E7EB;
  margin-bottom: 32px;
}

.sidebar-small__list--dark {
  border-bottom-color: #27272A;
}

.sidebar-small__item--inbox {
  position: relative;
}

.sidebar-small__item--inbox::after {
  position: absolute;
  content: '';
  top: 6px;
  right: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #8B5CF6;
}

.sidebar-small__item {
  height: 36px;
  width: 36px;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
}

.sidebar-small__item:last-child {
  margin-bottom: 0;
}

.sidebar-small__item:hover,
.sidebar-small__item:focus {
  background-color: #EDE9FE;
}

.sidebar-small__item--dark:hover,
.sidebar-small__item--dark:focus {
  background-color: #3F3F46;
}

.sidebar-small__item:hover svg > path,
.sidebar-small__item:focus svg > path,
.sidebar-small__projects:hover svg > path,
.sidebar-small__projects:focus svg > path {
  stroke: #7C3AED;
}

.sidebar-small__item--dark:hover svg > path,
.sidebar-small__item--dark:focus svg > path,
.sidebar-small__projects--dark:hover svg > path,
.sidebar-small__projects--dark:focus svg > path {
  stroke: #fff;
}

.sidebar-small__projects {
  border-radius: 4px;
}

.sidebar-small__projects:hover,
.ssidebar-small__projects:focus {
  background-color: #EDE9FE;
}

.sidebar-small__projects--dark:hover,
.sidebar-small__projects--dark:focus {
  background-color: #3F3F46;
}

.sidebar-small__projects-link {
  height: 36px;
  width: 36px;
  margin-bottom: 289px;
  padding: 8px;
  display: block;
}

.sidebar-small__new-project-btn,
.sidebar-big__new-project-btn {
  height: 32px;
  width: 32px;
  margin-bottom: 24px;
  font-size: 0;
  cursor: pointer;
  background-color: #7C3AED;
  border-radius: 4px;
  outline: none;
  border: none;
  position: relative;
}

.sidebar-small__new-project-btn::before,
.sidebar-big__new-project-btn::before {
  position: absolute;
  content: '';
  left: 11px;
  top: 16px;
  width: 9px;
  height: 1.5px;
  background-color: #fff;
}

.sidebar-small__new-project-btn::after,
.sidebar-big__new-project-btn::after {
  position: absolute;
  content: '';
  left: 11px;
  top: 16px;
  width: 9px;
  height: 1.5px;
  background-color: #fff;
  transform: rotate(-90deg);
}

.sidebar-small__footer {
  height: 88px;
  background: url('./images/avatar.svg') no-repeat center #F4F4F5;
}

.sidebar-small__footer--dark {
  background-color: #27272A;
}

/* Развернутое меню */
.sidebar-big {
  width: 342px;
}

.sidebar-big__header {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #F9FAFB;
  height: 84px;
  margin-bottom: 32px;
  padding: 24px 24px 24px 36px;
}

.sidebar__header--dark {
  background-color: #27272A;
}

.sidebar-big__toggle {
  margin-right: 22px;
}

.sidebar-big__wrapper {
  padding-left: 24px;
  padding-right: 24px;
}

.sidebar-big__search {
  margin-bottom: 16px;
  position: relative;
}

.sidebar-big__search-input {
  width: 100%;
  outline: none;
  border-radius: 4px;
  padding: 8px 8px 8px 40px;
  border: 1px solid #D4D4D8;
  font-size: 14px;
  box-shadow: 0px 1px 2px 0px #00000012;
  font-family: "Inter Regular", "Open Sans", sans-serif;
}

.sidebar-big__search-input--dark {
  background-color: #18181B;
  border-color: #3F3F46;
  color: #fff;
}

.sidebar-big__search-button {
  position: absolute;
  top: 10px;
  left: 16px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  background-image: url('./images/search-left.svg');
}

.sidebar-big__list {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid #E5E7EB;
}

.sidebar-big__list--dark {
  border-bottom-color: #27272A;
}

.sidebar-big__item {
  margin-bottom: 8px;
  padding: 8px 16px 8px 16px;
  font-family: "Inter Medium", "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #52525B;
}

.sidebar-big__item--dark {
  color: #A1A1AA
}

.sidebar-big__item:hover,
.sidebar-big__item:focus {
  background-color: #EDE9FE;
}

.sidebar-big__item--inbox {
  position: relative;
}

.sidebar-big__item--inbox::before {
  position: absolute;
  content: '';
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  background-image: url('./images/inbox-count.svg');
}

.sidebar-big__item:hover,
.sidebar-big__item:focus,
.sidebar-big__projects-link:hover,
.sidebar-big__projects-link:focus {
  color: #7C3AED;
}

.sidebar-big__item--dark:hover,
.sidebar-big__item--dark:focus {
  background-color: #3F3F46;
  color: #fff;
}

.sidebar-big__item:hover svg > path,
.sidebar-big__item:focus svg > path,
.sidebar-big__projects-link:hover svg > path,
.sidebar-big__projects-link:focus svg > path {
  stroke: #7C3AED;
}

.sidebar-big__item--dark:hover svg > path,
.sidebar-big__item--dark:focus svg > path,
.sidebar-big__projects-link--dark:hover svg > path,
.sidebar-big__projects-link--dark:focus svg > path {
  stroke: #fff;
}

.sidebar-big__link {
  display: flex;
  align-items: center;
}

.sidebar-big__icon,
.sidebar-big__projects-icon {
  margin-right: 8px;
}

.sidebar-big__item:last-child {
  margin-bottom: 0;
}

.sidebar-big__projects-link {
  display: flex;
  align-items: center;
  padding: 8px 16px 8px 16px;
  margin-bottom: 8px;
  font-family: "Inter Medium", "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #52525B;
}

.sidebar-big__projects-link:hover,
.sidebar-big__projects-link:focus {
  background-color: #EDE9FE;
}

.sidebar-big__projects-link--dark:hover,
.sidebar-big__projects-link--dark:focus {
  background-color: #3F3F46;
  color: #fff;
}

.sidebar-big__projects-list {
  margin-bottom: 153px;
}

.sidebar-big__projects-item {
  font-family: "Inter Medium", "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #52525B;
  padding: 8px 16px 8px 32px;
  position: relative;
  height: 36px;
  margin-bottom: 8px;
}

.sidebar-big__projects-item::before {
  position: absolute;
  content: '';
  left: 16px;
  top: 14px;
  width: 8px;
  height: 8px;
  background-color: #A855F7;
  border-radius: 2px;
}

.sidebar-big__projects-item--design::before {
  background-color: #84CC16;
}

.sidebar-big__projects-item--redaction::before {
  background-color: #EC4899;
}

.sidebar-big__new-project-btn {
  width: 100%;
  color: #fff;
  font-family: "Inter Medium", "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  padding-left: 110px;
  text-align: start;
}

.sidebar-big__new-project-btn::before,
.sidebar-big__new-project-btn::after {
  left: 93px;
  top: 15px;
}

.sidebar-big__footer {
  display: flex;
  align-items: center;
  background-color: #F4F4F5;
  padding: 24px;
}

.sidebar-big__footer--dark {
  background-color: #27272A;
}

.sidebar-big__footer-avatar {
  margin-right: 16px;
}

.sidebar-big__footer-author {
  width: 198px;
  margin-right: 16px;
}

.sidebar-big__footer-name {
  font-family: "Inter Semibold", "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #3F3F46;
}

.sidebar-big__footer-name--dark {
  color: #fff;
}

.sidebar-big__footer-job {
  font-family: "Inter Regular", "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  color: #71717A;
}

.sidebar-big__footer-job--dark {
  color: #A1A1AA;
}

.sidebar-big__footer-button {
  font-size: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

.sidebar-big__footer-button::before {
  position: absolute;
  content: '';
  top: 4px;
  left: 11px;
  width: 2px;
  height: 2px;
  background-color: #A1A1AA;
  border: 1.5px solid #A1A1AA;
  box-shadow: 0 7px 0 #A1A1AA, 0 14px 0 #A1A1AA;;
}
